<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<h1>List</h1>
<a href="/board">Write</a>
<br/>
<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Title</th>
        <th>Creation Date</th>
        <th>Updated Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.index}"></td>
        <td><a th:href="'/board?index='+${board.index}" th:text="${board.title}"></a></td>
        <td th:text="${#dates.format(board.creationDate,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#dates.format(board.updateDate,'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
